<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>

    <!--日志记录组件-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

    <!--EF6.1.3-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!--Redis.StackExchange客户端的具体缓存实现2.2.3.ServiceCenter.Api.Core.Caching.Redis.StackExchange-->
    <section name="redisCacheClient" type="StackExchange.Redis.Extensions.Core.Configuration.RedisCachingSectionHandler, StackExchange.Redis.Extensions.Core" />

    <!--Oracle驱动配置-->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />

    <!--是否开启审计日志-->
    <section name="sharpsword.auditing.configuration" type="SharpSword.Auditing.AuditingConfiguration,SharpSword" />

    <!--记录到数据库审计插件-->
    <section name="sharpsword.module.auditingstoreconfig.sqlserver" type="SharpSword.Auditing.SqlServer.AuditingStoreConfig,SharpSword.Auditing.SqlServer" />
    <section name="sharpsword.module.auditingstoreconfig.mongodb" type="SharpSword.Auditing.MongoDB.AuditingStoreConfig,SharpSword.Auditing.MongoDB" />

    <!--memcached缓存扩展配置3.3.SharpSword.Caching.Memcached-->
    <section name="sharpsword.module.cachemanager.memcached" type="SharpSword.Caching.Memcached.MemcachedManagerConfig,SharpSword.Caching.Memcached" />

    <!--Redis缓存扩展配置3.2.SharpSword.Caching.Redis.StackExchange0-->
    <section name="sharpsword.module.cachemanager.redis" type="SharpSword.Caching.Redis.StackExchange.RedisCacheManagerConfig,SharpSword.Caching.Redis.StackExchange" />

    <!--接口访问日志扩展配置2.1.1.ServiceCenter.Api.Core.AccessRecorder.DB-->
    <section name="sharpsword.module.apiaccessRecorder.db" type="SharpSword.AccessRecorder.DB.DataBaseAccessRecorderConfig,SharpSword.AccessRecorder.DB" requirePermission="false" />

    <!--DTO生成器创建配置1.2.2.ServiceCenter.Api.Core.DtoGenerator-->
    <section name="sharpsword.module.dtogeneratorconfig" type="SharpSword.DtoGenerator.DtoGeneratorConfig,SharpSword.DtoGenerator" />

    <!--电子邮件配置-->
    <section name="sharpsword.module.mail.Smtp.configuration" type="SharpSword.Mail.Smtp.SmtpEmailSenderConfiguration,SharpSword.Mail.Smtp" />

    <!--SDK生成器-->
    <section name="sharpsword.module.sdkbuilderconfig.csharp" type="SharpSword.SdkBuilder.CSharp.SdkBuilderConfig,SharpSword.SdkBuilder.CSharp" />

    <!--采取数据库方式配置系统参数-->
    <section name="sharpsword.module.configuration.sqlserver" type="SharpSword.Configuration.SqlServer.ConfigurationConfig,SharpSword.Configuration.SqlServer" />

    <!--MSMQ消息队列配置-->
    <section name="sharpsword.module.mq.msmq" type="SharpSword.MQ.MSMQ.MSMQConfig,SharpSword.MQ.MSMQ" />


    <section name="oauth" type="SharpSword.OAuth.OAuthConfig,SharpSword.OAuth" />

  </configSections>

  <oauth>
    <platforms>
      <platform name="qq" fullName="QQ互联" authorizationUrl="https://graph.qq.com/oauth2.0/authorize" tokenUrl="https://graph.qq.com/oauth2.0/token" apiUrl="https://graph.qq.com/oauth2.0/me">
        <apps>
          <add appkey="206426" secret="40bd8e6d79cf92252770522a060f9ce6" redirectUrl="http://www.sharpsword.com/oauth/callback" />
        </apps>
      </platform>
    </platforms>
    <authorizationProviders>
      <add platform="qq" type="SharpSword.OAuth.QQAuthorizationProvider,SharpSword.OAuth" />
    </authorizationProviders>
  </oauth>

  <!--开启审计日志配置-->
  <sharpsword.auditing.configuration IsEnabled="true" IsEnabledForAnonymousUsers="true" />

  <!--邮件发送配置；如果设置的是QQ邮箱，Password请设置为授权码-->
  <sharpsword.module.mail.Smtp.configuration Host="smtp.qq.com"
                                             Port="25"
                                             UserName="24040132@qq.com"
                                             Password="xxxxxx" Domain=""
                                             EnableSsl="true"
                                             UseDefaultCredentials="false"
                                             DefaultFromAddress="24040132@qq.com"
                                             DefaultFromDisplayName="master" />

  <!--API接口框架Memcached缓存配置，多台服务器使用,分开3.3.SharpSword.Caching.Memcached-->
  <sharpsword.module.cachemanager.memcached servers="127.0.0.1:11211" />

  <!--API接口框架Redis缓存服务器配置3.2.SharpSword.Caching.Redis.StackExchange0-->
  <sharpsword.module.cachemanager.redis ConnectionString="127.0.0.1:6379,allowAdmin=true" />

  <!--API接口访问记录器数据库连接名称2.1.1.ServiceCenter.Api.Core.AccessRecorder.DB-->
  <sharpsword.module.apiaccessRecorder.db connectionStringName="apiAccessRecorderConn" IsEnabled="true" />

  <!--Redis.StackExchange缓存实现配置2.2.3.ServiceCenter.Api.Core.Caching.Redis.StackExchange-->
  <redisCacheClient allowAdmin="true" ssl="false" connectTimeout="5000" database="0" password="password">
    <hosts>
      <add host="127.0.0.1" cachePort="6379" />
    </hosts>
  </redisCacheClient>

  <!--DTO生成器创建配置-->
  <sharpsword.module.dtogeneratorconfig connectionStringName="apiV200" sourceSaveDirectory="~/App_Data/DtoSource" />

  <!--审计插件配置-->
  <sharpsword.module.auditingstoreconfig.sqlserver ConnectionStringName="auditingStore" IsEnabled="true" />
  <sharpsword.module.auditingstoreconfig.mongodb ConnectionString="mongodb://localhost:27017" DataBase="auditingstore" CollectionName="sharpsword.audits" IsEnabled="true" />

  <!--SDK生成器-->
  <sharpsword.module.sdkbuilderconfig.csharp SdkNamespace="SharpSword.Api.SDK" />

  <!--数据库配置参数对象-->
  <sharpsword.module.configuration.sqlserver ConnectionStringName="configuration" />

  <!--MSMQ消息队列配置-->
  <sharpsword.module.mq.msmq ConnectionString=".\private$\TEST" />

  <!--数据库连接字符串-->
  <connectionStrings>

    <!--接口访问记录器数据库实现类连接字符串名称-->
    <add name="apiAccessRecorderConn" connectionString="Data Source=localhost;Initial Catalog=ApiAccessRecorder;User ID=sa;pwd=123456;" providerName="System.Data.SqlClient" />

    <!--数据访问层数据库0-->
    <add name="apiV200" connectionString="Data Source=localhost;Initial Catalog=V200;User ID=sa;pwd=123456;" providerName="System.Data.SqlClient" />

    <!--审计记录数据库插件-->
    <add name="auditingStore" connectionString="Data Source=localhost;Initial Catalog=AuditingStore;User ID=sa;pwd=123456;" providerName="System.Data.SqlClient" />

    <add name="configuration" connectionString="Data Source=localhost;Initial Catalog=Configuration;User ID=sa;pwd=123456;" providerName="System.Data.SqlClient" />

    <add name="dto" connectionString="Data Source=192.168.8.132;Initial Catalog=FRXS_ERP_BUSINESS_BASEDATA;User ID=sa;pwd=123456;" providerName="System.Data.SqlClient" />

    <!--下列为使用不同数据库连接字符串方式-->
    <!--mssql数据库连接-->
    <add name="MSSqlDbContext" connectionString="Data Source=localhost;Initial Catalog=YW;User ID=sa;pwd=123456;" providerName="System.Data.SqlClient" />
    <!--mysql数据库连接-->
    <add name="MysqlDbContext" connectionString="Data Source=localhost;Port=3306;Initial Catalog=v23;uid=root;pwd=123456;charset=utf8;" providerName="MySql.Data.MySqlClient" />
    <!--oracle数据库连接-->
    <add name="OracleDbContext" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" providerName="Oracle.ManagedDataAccess.Client" />
    <!--PostgreSql数据库连接-->
    <add name="PostgreSqlContext" connectionString="Server=localhost;Database=test; User Id=postgres;Password=123456;" providerName="Npgsql" />

    <add name="connstring_acc" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|\EasyCMS.mdb;" providerName="System.Data.OleDb"/>

  </connectionStrings>

  <!---log4net日志记录配置2.3.1.ServiceCenter.Api.Core.Logging.Log4Net-->
  <log4net>
    <root>
      <!--ALL,ERROR,FATAL,INFO,WARN,DEBUG-->
      <level value="ALL" />
      <appender-ref ref="FileAppender.WARN" />
      <appender-ref ref="FileAppender.ERR" />
      <appender-ref ref="FileAppender.DEBUG" />
      <appender-ref ref="FileAppender.INFO" />
    </root>
    <appender name="FileAppender.WARN" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="UTF-8" />
      <file type="log4net.Util.PatternString" value="App_Data/logs/WARN-%date{yyyy-MM-dd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <maxSizeToRollBackups value="10" />
      <maximumFileSize value="3000kb" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] %n%m%n" />
        <conversionPattern value="时  间：%d [%t] %n级  别：%-5p %n关联类：%c [%x] %n%m%n %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="WARN" />
      </filter>
    </appender>
    <appender name="FileAppender.DEBUG" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="UTF-8" />
      <file type="log4net.Util.PatternString" value="App_Data/logs/DEBUG-%date{yyyy-MM-dd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <maxSizeToRollBackups value="10" />
      <maximumFileSize value="3000kb" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] %n%m%n" />
        <conversionPattern value="时  间：%d [%t] %n级  别：%-5p %n关联类：%c [%x] %n%m%n %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <appender name="FileAppender.INFO" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="UTF-8" />
      <file type="log4net.Util.PatternString" value="App_Data/logs/INFO-%date{yyyy-MM-dd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <maxSizeToRollBackups value="10" />
      <maximumFileSize value="3000kb" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] %n%m%n" />
        <conversionPattern value="时  间：%d [%t] %n级  别：%-5p %n关联类：%c [%x] %n%m%n %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="FileAppender.ERR" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="UTF-8" />
      <file type="log4net.Util.PatternString" value="App_Data/logs/ERR-%date{yyyy-MM-dd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <maxSizeToRollBackups value="10" />
      <maximumFileSize value="3000kb" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] %n%m%n" />
        <conversionPattern value="异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c [%x] %n%m%n %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>

      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />

      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />

      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql" />

    </DbProviderFactories>
  </system.data>
  <system.web>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="30" allowCustomSqlDatabase="true" sqlConnectionString="data source=192.168.0.252;initial catalog=session;user id=sa;password=987654321" />
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false" />
    <!--在使用SignalR时候，需要将maxRequestLength设置下列大小，要不无法使用webscoket模式-->
    <httpRuntime maxRequestLength="40960" targetFramework="4.5" requestValidationMode="2.0" />
  </system.web>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy />
      <bypasslist />
      <module />
    </defaultProxy>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Powered-By" value="ISC" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--版本重定向-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework6.Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
    </compilers>
  </system.codedom>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>